* Lite CSS v0.1
* Copyright 2017,
* Panagiotis Englezos (Github.com/penglezos)
* Free to use under the MIT license.
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Universal
- Grid
- Navigation Bar
- Header
- Typography
- Links
- Tables
- Lists
- Footer
- Positioning
- Media Queries
*/

/* Universal
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* Grid System
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm { width: 4.33%;}
.col-2-sm { width: 12.66%;}
.col-3-sm { width: 21%;}
.col-4-sm { width: 29.33%;}
.col-5-sm { width: 37.66%;}
.col-6-sm { width: 46%;}
.col-7-sm { width: 54.33%;}
.col-8-sm { width: 62.66%;}
.col-9-sm { width: 71%;}
.col-10-sm { width: 79.33%;}
.col-11-sm { width: 87.66%;}
.col-12-sm { width: 96%;}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm { display: none;}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 { width: 4.33%;}
  .col-2 { width: 12.66%;}
  .col-3 { width: 21%;}
  .col-4 { width: 29.33%;}
  .col-5 { width: 37.66%;}
  .col-6 { width: 46%;}
  .col-7 { width: 54.33%;}
  .col-8 { width: 62.66%;}
  .col-9 { width: 71%;}
  .col-10 { width: 79.33%;}
  .col-11 { width: 87.66%;}
  .col-12 { width: 96%;}
  .hidden-sm { display: block;}
}
@media only screen and (min-width: 60em) { /* 960px */
  .container {width: 75%; max-width: 60rem;}
}

/* Navigation Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  margin-top: 40px !important; }
  nav a.brand { font-weight: 600;   margin: 10px 0;}
  nav * { display: inline-block; }
  nav ul { float: right; }
  nav ul li {  display: inline-block; height: 38px;
  padding: 0 30px;
  color: #6f6f6f;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #6f6f6f;
  cursor: pointer;
  margin: 5px 0;
  transition: background-color 0.3s, border-color 0.3s; }
  nav ul li:hover { color: #fff;
  background-color: #ADD8E6;
  border-color: #ADD8E6;}
  @media (max-width: 550px) {
    nav ul { width: 100%; } }
  @media (max-width: 550px) {
    nav { text-align: center; } }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header { margin-top:5em; margin-bottom:5em; }
.headerbg { background-color: #DCDCDC; border-radius: 5px; padding: 10px 0; }
.text-center { text-align: center; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 { font-size: 2.5rem;}
h2 { font-size: 2rem;}
h3 { font-size: 1.375rem;}
h4 { font-size: 1.125rem;}
h5 { font-size: 1rem;}
h6 { font-size: 0.875rem;}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a { color: #1EAEDB; }
a:hover { color: #0FA0CE; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul { list-style: circle inside; }
ol { list-style: decimal inside; }
ol, ul { padding-left: 0; margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul { margin: 1.5rem 0 1.5rem 3rem; font-size: 90%; }
li { margin-bottom: 1rem; }

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer { margin-top: 40px !important; text-align: center; }
footer * { display: inline-block; }
@media (max-width: 550px) {
  footer  { width: 100%; } }
@media (max-width: 550px) {
  footer { text-align: center; } }


/* Positioning
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; margin: 0 auto; }
.justify { text-align: justify; }
.round { border-radius: 50%; }
  
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}